.MainBox {
    background-color: darkkhaki;
    width: 800px;
    height: 400px;
    margin: 0 auto;
}

.top {
    width: 800px;
    height: 100px;
    background-color: darkslateblue;
    text-align: center;
}

.top>img {
    float: right;
    max-width: 75px;
    margin: 10px;
}

.top>h3 {
    display: inline-block;
    position: relative;
    top: 12px;
    font-family: "Palatino Linotype", serif;
    font-size: 64px;
}
.main {
    background-color: grey;
    width: 800px;
    height: 250px;
    text-align: justify;
}
.left {
    width: 400px;
    height: 300px;
    background-color: cornflowerblue;
    float: left;
}
.left>p {
    text-align: justify;
    line-height: normal;
    padding: 10px 10px 10px 10px;
    font-family: "Palatino Linotype", serif;
    font-size: 25px;
}

.right {
    width: 400px;
    height: 300px;
    background-color: crimson;
    float: left;
}
.right>p {
    padding: 20px 0 0 20px;
}
.footer {
    background-color: darkkhaki;
    width: 800px;
    height: 100px;
    text-align: right;
}

.footer>ul>li {
    display: inline;
    padding: 5px 5px 5px 5px;
    background-color: darkgreen;
    position: relative;
    top: 14px;
    right: 5px;
    font-family: "Palatino Linotype", serif;
    font-size: 24px;
}